<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tasks"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".shareRSActivity"
            android:exported="false" />
        <activity
            android:name=".updateprofilActivity"
            android:exported="false" />
        <activity
            android:name=".bluetoothActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApp.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="googleAPIkey" />

        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".signupActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
